<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwn.lib_download">

    <uses-permission android:name="android.permission.INTERNET" />


    <application>
        <service android:name=".DownloadService" />
        <!--<provider
            android:authorities="com.zwn.db.settings"
            android:name=".db.CareProvider"
            android:exported="false" />-->
        <provider
            android:authorities="com.zwn2.db.settings.settings"
            android:name=".db.CareProvider"
            android:exported="false" />
    </application>

</manifest>